 body {
  background-color: #C6CC27;
 }
 
 .info {
  width: 40%;
  float: left;
  margin-top: 130px;
  margin-left: 100px;
  text-align: center;
}

.info h1 {
  font-size: 60px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #d83271;
  text-shadow: 2px 3px #fff;
}

 .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 22px;
  color: #d83271;
}

 .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 38px;
  cursor: pointer;
  color: #FFF;
  background-color: #d83271;
  font-size: 22px;
}

 .info button:hover {
   background-color: #d8327282;
   border: 2px solid #d83271;
  }

 .image {
  width: 50%;
  float: right;
  margin-top: 35px;
}

 .image img {
  max-width: 100%;
}

.clearfix {
clear: both;
}

/* End Landing Page */