footer {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #d83271;
  }
html{
  background-color: #d83271;;
}
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .footer-nav {
    display: flex;
  }