html, body {
    margin: 0; /* Set margin to 0 to remove the default margin */
    padding: 0; /* Set padding to 0 to remove the default padding */
    font-family: 'Aclonica';
    color: #ffffff;
    }

#navbar {
    background-color: #d83271;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* add padding */
}

#navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin-left: 20px;
}

#navbar li:last-child {
    margin-right: 0;
}
@media (min-width: 769px) {
    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
    }
}
@media (max-width: 769px) {
    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 0.6rem;
    }
}

#navbar a:hover {
    text-decoration: underline;
}

#logo {
  display: flex;
  align-items: center;
  }
  
  #logo img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 10px;
  }
  
  #navbar ul {
  display: flex;
  align-items: center;
  }

  @media (max-width: 480px) {
    #navbar ul {
      flex-direction: row;
    }
    #navbar li:last-child {
      margin-top: 10px;
    }
    #logo img {
      height: 30px;
      width: 30px;
    }
    #navbar a {
      font-size: 0.5rem;
    }
  }