html, body {
    margin: 0; /* Set margin to 0 to remove the default margin */
    padding: 0; /* Set padding to 0 to remove the default padding */
    font-family: 'Aclonica';
    color: #ffffff;
    }
/* Navigation Bar */
#navbar {
    background-color: #C6CC27;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* add padding */
}

#navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin-left: 20px;
}

#navbar li:last-child {
    margin-right: 0;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    -webkit-text-stroke: 0.5px white; /* add a black border around the letter */
}
#navbar a:hover {
    text-decoration: none;
    color: transparent; /* hide the color inside the letter */
    -webkit-text-stroke: 0.5px white; /* add a black border around the letter */
}

#logo {
  display: flex;
  align-items: center;
  }
  
  #logo img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 10px;
  }
  
  #navbar ul {
  display: flex;
  align-items: center;
  }