/* Banner */
#banner {
background-image: url('magasin_epi_fleuri.jpeg');
background-size: cover;
background-position: top center;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 5%;
padding: 0;
min-width: 100%;
height: 70vh;
}

#titre {
    padding-top: 50px;
    padding-bottom: 150px;
}

#banner-text {
text-align: center;
color: #fff;
}

/* Product grid */
.product-grid {
display: flex;
flex-wrap: wrap;
justify-content: center; /* change to center */
margin-top: 50px;
align-items: center;
align-self: center;
}

.product-grid-item {
display: flex;
align-items: center;
width: 100%;
margin-bottom: 5%;
}

.product-grid-item:nth-child(odd) {
flex-direction: row-reverse;
}

.product-grid-item img {
max-width: 35%;
border-radius: 20px;
margin-right: 20px;
margin: auto; /* change to auto */
}

.product-grid-item .description {
width: 45%;
font-size: 1.2rem;
text-align: justify;
margin-right: 20px;
margin: auto; /* change to auto */
}
  
#banner-text h1 {
font-size: 7rem;
font-weight: bold;
margin-top: 1rem;
margin-bottom: 1rem;
text-align: center;
color: #fff;
} 
#banner-text h3 {
font-size: 2rem;
font-weight: 1;
margin-top: 1rem;
margin-bottom: 1rem;
text-align: center;
color: #fff;
}   
html, body {
/* background-image: linear-gradient(120deg, #ffb459 0%, #d57eeb 100%); */
background-color: #d83271;
margin: 0; /* Set margin to 0 to remove the default margin */
padding: 0; /* Set padding to 0 to remove the default padding */
font-family: 'Aclonica';
color: #ffffff;
}
button {
background-color: #C6CC27;
border: none;
border-radius: 30px;
color: #fff;
cursor: pointer;
font-size: 28px;
padding: 15px 25px;
transition: background-color 0.3s ease;
border: 2px solid #C6CC27;
}

button:hover {
background-color: transparent;
border: 2px solid #C6CC27;
}
.testimonial{
    padding: 0 15px;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
}
.testimonial .description{
    padding: 0 15px;
    font-size: 13px;
    color: #fff;
    line-height: 26px;
}
.testimonial .testimonial-title{
    font-size: 14px;
    letter-spacing: 3px;
    color: #C6CC27;
    text-transform: uppercase;
    position: flex;
}