/* Style pour la bannière avec le background */

#banner {
    background-image: url('interieur.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 0;
    min-width: 100%;
    height: 70vh;
}
#map {
  height: 400px;
  width: 100%;
}

html, body {
  /* background-image: linear-gradient(120deg, #ffb459 0%, #d57eeb 100%); */
background-color: #ED1E56;
}
/* Style pour les titres */
h2, h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 60px;
  }

    h3 {
        font-size: 35px;
    }
  
  /* Style pour les liens */
  a {
    color: #0066CC;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #003399;
  }
  
  /* Style pour les adresses */
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }