<html>
<head>
</head>
{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/evenement.css') }}">
<section id="banner">
   <h2>Evènements pour lesquels vous pouvez compter sur nous</h2>
</section>
<br>
<br>

<section class="banner">
   <h2>Les mariages</h2>
</section>

<br>
<br>
<div class="photo-gallery">
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/bouquet.jpeg') }}">
      <p class="caption">Texte de votre légende 1</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/bouquet1.jpeg') }}">
      <p class="caption">Texte de votre légende 2</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/bouquet2.jpeg') }}">
      <p class="caption">Texte de votre légende 3</p>
    </div>
  </div>
  
   <br>
   <br>
   <br>
   <br>
</section>
{% include "footer.html" %}
</html>
