<html>
<head>
</head>
{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/evenement.css') }}">
<section id="banner">
   <h2>Evènements pour lesquels vous pouvez compter sur nous</h2>
</section>
<br>
<br>

<!-- Mariage -->

<section class="banner-mariage">
   <h2>Les mariages</h2>
</section>

<br>
<br>
<div class="photo-gallery">
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/bouquet.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/bouquet1.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/bouquet2.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/escalier0.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/escalier1.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/escalier2.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/montage0.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/montage1.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/montage2.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/montage3.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/parcours.gif') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/diademe.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/voiture.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
    <div class="photo-container">
      <img src="{{ url_for('static', filename='images/mariage/voiture1.jpeg') }}">
      <p class="caption">Texte de votre légende</p>
    </div>
</div>

<br>

<div class="info">
  <p>Nous pouvons également gérer les communions et les baptêmes avec le même style que vous voyez ci-dessus</p>
</div>

<br>
<br>
<br>
<br>


<!-- Décès -->

<section class="banner-deces">
  <h2>Les décès</h2>
</section>

<br>
<br>
<div class="photo-gallery">
   <div class="photo-container">
     <img src="{{ url_for('static', filename='images/deces/mortuaire3.jpeg') }}">
     <p class="caption">Texte de votre légende</p>
   </div>
   <div class="photo-container">
     <img src="{{ url_for('static', filename='images/deces/mortuaire5.jpeg') }}">
     <p class="caption">Texte de votre légende</p>
   </div>
   <div class="photo-container">
    <img src="{{ url_for('static', filename='images/deces/mortuaire4.jpeg') }}">
    <p class="caption">Texte de votre légende</p>
   </div>
   <div class="photo-container">
    <img src="{{ url_for('static', filename='images/deces/mortuaire1.jpeg') }}">
    <p class="caption">Texte de votre légende</p>
   </div>
   <div class="photo-container">
    <img src="{{ url_for('static', filename='images/deces/mortuaire2.jpeg') }}">
    <p class="caption">Texte de votre légende</p>
   </div>
  
<br>
<br>
<br>
<br>



</section>
{% include "footer.html" %}
</html>
