<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/fete.css') }}">
</head>
{% include "header.html" %}

<body>
  
  <div class="info">
    <h1>Fête des mères</h1>
    <p>Offrez à votre maman un bouquet de fleurs qui illuminera sa journée et lui rappellera tout l'amour que vous lui portez, à l'occasion de la fête des mères. </p>
    <button>Nos bouquets pour l'occasion</button>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='images/florist_vector.png') }}">
  </div>
  <div class="clearfix"></div>
</div>
</div>

</body>
   
{% include "footer.html" %}
</html>