<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/fete.css') }}">
</head>
{% include "header.html" %}
<body>

    <!-- Entête de la page -->
  <header>
    <h1>La fête des mères arrive bientôt!</h1>
    <p>Célébrez votre maman avec des fleurs magnifiques</p>
  </header>

  <!-- Section des offres spéciales -->
  <section id="offres-speciales">
    <h2>Offres spéciales pour la fête des mères</h2>
    <ul>
      <li>Réduction de 10% sur toutes les fleurs pour la fête des mères</li>
      <li>Un bouquet gratuit avec chaque commande de plus de 50€</li>
    </ul>
  </section>

  <!-- Section des collections de fleurs -->
  <section id="collections">
    <h2>Notre collection de fleurs pour la fête des mères</h2>
    <p>Nous avons une large sélection de fleurs pour la fête des mères, y compris des roses, des pivoines et des lys. Nos arrangements floraux sont soigneusement créés pour célébrer votre maman de la meilleure façon possible.</p>
    <img src="collection-fleurs.jpg" alt="Collection de fleurs pour la fête des mères">
  </section>
    
</body>
{% include "footer.html" %}
</html>