
<link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<nav id="navbar">
    <div id="logo"><img src="{{ url_for('static', filename='images/logo_epifleuri.jpg') }}" alt="Logo"></div>
    <ul>
        <li><a href="/">Accueil</a></li>
        <!-- Fête des mère <li><a href="/fete">Maman</a></li> -->
        <!-- <li><a href="/anniversaire">Anniversaire</a></li> -->
        <!-- <li><a href="/weekend-client">WK Client</a></li> -->
        <li><a href="/valentin">St Valentin</a></li>
        <li><a href="/produit">Produits</a></li>
        <li><a href="/evenement">Evènements</a></li>
        <li><a href="/informations">Informations</a></li>
    </ul>
</nav>