<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style-main.css') }}">
    <title>L'Epi Fleuri</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>
{% include "header.html" %}
<body>
    <section id="banner">
        <div id="banner-text">
        <h1>L'Epi Fleuri</h1>
        <h3>Magasin de fleurs dans ta région</h3>
        <button>Nos fleurs</button>
        </div>
    </section>
    <section id="products-grid">
        <div class="product-grid-item">
            <img src="{{ url_for('static', filename='images/fleur_jaune.jpeg') }}" alt="Product 1">
            <div class="description">
                <h2>Fleur Jaune</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lorem sit amet velit rhoncus bibendum. Fusce eleifend massa a quam vestibulum, et pulvinar tellus vestibulum. Aliquam a enim at ipsum lobortis pharetra.</p>
            </div>
        </div>
        <div class="product-grid-item">
            <img src="{{ url_for('static', filename='images/fleur_rouge:blanc.jpeg') }}" alt="Product 2">
            <div class="description">
                <h2>Fleur Rouge & Blanc</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lorem sit amet velit rhoncus bibendum. Fusce eleifend massa a quam vestibulum, et pulvinar tellus vestibulum. Aliquam a enim at ipsum lobortis pharetra.</p>
            </div>
        </div>
        <div class="product-grid-item">
            <img src="{{ url_for('static', filename='images/fleur_rose.jpeg') }}" alt="Product 3">
            <div class="description">
                <h2>Fleur Rose</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lorem sit amet velit rhoncus bibendum. Fusce eleifend massa a quam vestibulum, et pulvinar tellus vestibulum. Aliquam a enim at ipsum lobortis pharetra.</p>
            </div>
        </div>
    </section>
</body>
{% include "footer.html" %}
</html> 