<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>L'Epi Fleuri</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>
{% include "header.html" %}
<body>
    <section id="titre">
        <div id="banner-text">
            <h1>L'Epi Fleuri</h1>
            <h3>Compositions florales - Cours d'art floral - Tout évènement</h3>
            <a href="/produit">
            <button>Nos fleurs</button>
            </a>
        </div>
    </section>
    <section id="products-grid">
        <div class="product-grid-item">
            <img src="{{ url_for('static', filename='images/christelle.jpeg') }}" alt="Product 1">
            <div class="description">
                <h2>Christelle Marie Bohy</h2>
                <p>Découvrez la passion des fleurs avec notre fleuriste expérimentée qui pratique ce métier depuis plus de trois décennies. Elle a acquis une expertise unique dans la sélection des meilleures fleurs et plantes, et crée des arrangements floraux uniques et personnalisés pour chaque occasion. Sa passion pour les fleurs se reflète dans chaque bouquet, et son expérience garantit une qualité exceptionnelle à chaque fois. Faites confiance à notre fleuriste pour ajouter une touche florale à votre vie.</p>
            </div>
        </div>
        <div class="product-grid-item">
            <img src="{{ url_for('static', filename='images/logo_ecoresp.jpg') }}" alt="Product 2">
            <div class="description">
                <h2>Eco-responsable</h2>
                <p>Notre magasin est fier de soutenir des pratiques durables et éco-responsables. Nous proposons une sélection de fleurs et de décorations respectueuses de l'environnement, pour vous aider à créer un intérieur naturel et responsable. De plus, nous sommes engagés dans la lutte contre le gaspillage et nous utilisons la plateforme Too Good To Go pour offrir des produits de qualité à prix réduits et éviter ainsi le gaspillage. Choisissez notre magasin pour un style de vie plus écologique.</p>
            </div>
        </div>
        <div class="product-grid-item">
            <img src="{{ url_for('static', filename='images/fleur_rose.jpeg') }}" alt="Product 3">
            <div class="description">
                <h2>Fleur Rose</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lorem sit amet velit rhoncus bibendum. Fusce eleifend massa a quam vestibulum, et pulvinar tellus vestibulum. Aliquam a enim at ipsum lobortis pharetra.</p>
            </div>
        </div>
    </section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <h3 class="testimonial-title">Valery Mertens</h3>
                    </div>
     
                    <div class="testimonial">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <h3 class="testimonial-title">Nicolas Lasch</h3>
                    </div>
     
                    <div class="testimonial">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <h3 class="testimonial-title">Valery Mertens</h3>
                    </div>

                    <div class="testimonial">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <h3 class="testimonial-title">Nicolas Lasch</h3>
                    </div>

                    <div class="testimonial">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <h3 class="testimonial-title">Valery Mertens</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script> 
    $(document).ready(function(){
        $("#testimonial-slider").owlCarousel({
            items:3,
            itemsDesktop:[1199,2],
            itemsDesktopSmall:[979,2],
            itemsTablet:[768,2],
            itemsMobile:[600,1],
            pagination:true,
            navigation:false,
            navigationText:["",""],
            slideSpeed:1000,
            autoPlay:true
        });
    });
</script>
</body>

{% include "footer.html" %}
</html> 