<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style-main.css') }}">
    <title>L'Epi Fleuri</title>
</head>
<body>

    <div id="navigation">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Produits</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    
    <div class="top">
        <h1>L'Epi Fleuri</h1>
    </div>

    <div class="container">
        <img src="static/images/fleur_rose.jpeg" height="200px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam non quam lacus suspendisse faucibus interdum posuere. Et tortor at risus viverra adipiscing at in</p>
    </div>

</body>
</html>