{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/informations.css') }}">
<section id="banner">
    <h2>Nos informations</h2>
</section>

<h3>Vous désirez nous contacter ?</h3>
<p>Vous pouvez nous contacter par mail à l'adresse suivante : <a href=#>Epifleuri@gmail.com</a></p>
<p>Vous pouvez également nous contacter par téléphone au numéro suivant : <a href=#>081 87 95 55</a></p>

<h3>Vous désirez faire un tour dans notre magasin ?</h3>
<p>Venez nous rendre visite à l'adresse suivante : Chaussée de Namur 74, 1367 Ramillies</p>

<h3>Vous désirez nous suivre sur notre page Facebook ?</h3>
<p>Rejoignez notre page ! <a href=https://www.facebook.com/lepifleuri>Page Facebook L'Epifleuri</a></p>
<br>

{% include "footer.html" %}