{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/informations.css') }}">
<section id="banner">
    <h2>Nos informations</h2>
</section>

<h3>Vous désirez nous contacter ?</h3>
<p>Vous pouvez nous contacter par mail à l'adresse suivante : <a href=#>Epifleuri@outlook.com</a></p>
<p>Vous pouvez également nous contacter par téléphone au numéro suivant : <a href=#>081 87 95 55</a></p>

<h3>Vous désirez faire un tour dans notre magasin ?</h3>
<p>Venez nous rendre visite à l'adresse suivante : Chaussée de Namur 74, 1367 Ramillies</p>

<h3>Vous désirez nous suivre sur notre page Facebook ?</h3>
<p>Rejoignez notre page ! <a href=https://www.facebook.com/lepifleuri>Page Facebook L'Epifleuri</a></p>
<h3 style="text-decoration: underline;">Horaires</h3>
<p>Lundi - Mardi : 9h00 - 18h00</p>
<p>Mercredi : Fermé</p>
<p>Jeudi - Vendredi - Samedi : 9h00 - 18h00</p>
<p>Dimanche : 9h00 - 13h00</p>
<br>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPe4yOHMcE85NHLjuu_Ecq5KXbMbNd7Fs"></script>
<div id="map"></div>
<script>
    function initMap() {
        var myLatLng = { lat: 50.629951, lng: 4.869690 };
      
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });
      
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: "L'Epifleuri"
        });
      }
    initMap();
</script>      
{% include "footer.html" %}