{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/produit.css') }}">
<br>
<h2>Nos Fleurs</h2>
<br>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url({{ url_for('static', filename='images/fleur_jaune.jpeg') }})">
       <h1 class="text-shadow">Fleur Jaune</hi>
    </div>
    <div class="back">
       <h2>Fleur Jaune</h2>
       <p>De superbes fleurs, réalisées par Epifleuri</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url({{ url_for('static', filename='images/fleur_jaune.jpeg') }})">
       <h1 class="text-shadow">Fleur Jaune</hi>
    </div>
    <div class="back">
       <h2>Fleur Jaune</h2>
       <p>De superbes fleurs, réalisées par Epifleuri</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url({{ url_for('static', filename='images/fleur_jaune.jpeg') }})">
       <h1 class="text-shadow">Fleur Jaune</hi>
    </div>
    <div class="back">
       <h2>Fleur Jaune</h2>
       <p>De superbes fleurs, réalisées par Epifleuri</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url({{ url_for('static', filename='images/fleur_jaune.jpeg') }})">
       <h1 class="text-shadow">Fleur Jaune</hi>
    </div>
    <div class="back">
       <h2>Fleur Jaune</h2>
       <p>De superbes fleurs, réalisées par Epifleuri</p>
    </div>
</div>
{% include "footer.html" %}
