{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/produit.css') }}">
<section id="banner">
   <h2>Nos produits</h2>
</section>

<br>
<br>

<div class="sup">
   <p>Nous tenons à préciser que les fleurs que vous verrez ici ne sont pas tout ce qui se trouve en boutique</p>
   <p>Alors n'hésitez surtout pas à venir nous rendre visite !</p>
   <p>Chaussée de Namur 74, 1367 Ramillies</p>
</div>

<br>
<br>
<br>
<br>

<nav class="navbar">
   <a href="#f" id="printemps" class="selected">Printemps</a>
   <a href="#p" id="automne">Automne</a>
   <a href="#h" id="hiver">Hiver</a>
   <a href="#a" id="all">Année</a>
   <div id="indicator"></div>
</nav>

<section id="printemps-section">
   <h2>Printemps</h2>
   <br>
   <br>
   <!-- PRINTEMPS -->
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/printemps/tulipes.jpeg') }})">
         <h1 class="text-shadow">Tulipes</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/printemps/tulipes_jonquilles.jpeg') }})">
         <h1 class="text-shadow">Jonquilles</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/printemps/anemone.jpeg') }})">
      <h1 class="text-shadow">Anémones</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/printemps/bouquet_jaune.jpeg') }})">
         <h1 class="text-shadow">Bouquet</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/printemps/cineraire.jpeg') }})">
         <h1 class="text-shadow">Cinéraires</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/printemps/renoncule.jpeg') }})">
         <h1 class="text-shadow">Renoncules</h1>
      </div>
   </div>
   <br>
   <br>
   <h2>Mai</h2>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/1mai/muguet.jpeg') }})">
         <h1 class="text-shadow">Muguet</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/1mai/muguet_rose.jpeg') }})">
         <h1 class="text-shadow">Muguet et rose</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/1mai/muguet.jpeg') }})">
         <h1 class="text-shadow">Muguet</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/1mai/etagere_muguet.jpeg') }})">
         <h1 class="text-shadow">Etagère de muguet</h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/1mai/etagere_muguet1.jpeg') }})">
         <h1 class="text-shadow">Etagère de muguet</h1>
      </div>
   </div>
   <br>
   <br>
   <h2>Fête des mères</h2>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/fete_mere/montage.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/fete_mere/bouquet.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <br>
   <br>
   <br>

 </section>
 
   <!-- Automne -->

 <section id="automne-section">
   <h2>Automne</h2>
   <br>
   <br>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/exterieur.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/exterieur2.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/fleur_jaune.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/fleur_jaune2.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/rose_jaune.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/herisson.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/interieur.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <br>
   <br>
   <br>

   <h2>Toussaint</h2>
   <br>
   <br>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/automne/jaune_mauve.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/cimetiere/chrysantheme.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <div class="flip flip-vertical">
      <div class="front" style="background-image: url({{ url_for('static', filename='images/cimetiere/chrysantheme1.jpeg') }})">
         <h1 class="text-shadow"></h1>
      </div>
   </div>
   <br>
   <br>
   <br>
 </section>
 
<!-- Hiver -->

 <section id="hiver-section">
    <h2>Hiver</h2>
<br>
<br>
<h2 class="a_venir">Revenez en hiver pour voir notre collection complète!</h2>
<br>
<br>

<h2>Saint Valentin</h2>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/interieur.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/exterieur.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/rose_rouge.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/rose_rouge1.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/rose_rouge2.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/rose_blanche.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/rose_blanche1.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/rose_jaune.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/st_valentin/tulipe_rose.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
</div>

</section>

<br>
<br>

<!-- Toute l'année -->

<section id="all-section">
   <h2>Toute l'année</h2>
<br>
<br>
<br>
<h2>Fleurs séchées par nos soins</h2>
<br>
<div class="flip flip-vertical">
  <div class="front" style="background-image: url({{ url_for('static', filename='images/seche_ete/seche0.jpeg') }})">
     <h1 class="text-shadow"></h1>
  </div>
</div>
<div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/seche_ete/seche1.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
 </div>
 <div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/seche_ete/seche2.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
 </div>
 <div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/seche_ete/seche3.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
 </div>
 <div class="flip flip-vertical">
   <div class="front" style="background-image: url({{ url_for('static', filename='images/seche_ete/seche4.jpeg') }})">
      <h1 class="text-shadow"></h1>
   </div>
 </div>
<br>
<br>
<br>
</section>
<script>
const printempsSection = document.getElementById("printemps-section");
const automneSection = document.getElementById("automne-section");
const hiverSection = document.getElementById("hiver-section");
const allSection = document.getElementById("all-section");

document.getElementById("printemps").addEventListener("click", function() {
   printempsSection.style.display = "block";
   automneSection.style.display = "none";
   hiverSection.style.display = "none";
   allSection.style.display = "none";
   document.getElementById("printemps").classList.add("selected");
   document.getElementById("automne").classList.remove("selected");
   document.getElementById("hiver").classList.remove("selected");
   document.getElementById("all").classList.remove("selected");
});

document.getElementById("automne").addEventListener("click", function() {
   printempsSection.style.display = "none";
   automneSection.style.display = "block";
   hiverSection.style.display = "none";
   allSection.style.display = "none";
   document.getElementById("printemps").classList.remove("selected");
   document.getElementById("automne").classList.add("selected");
   document.getElementById("hiver").classList.remove("selected");
   document.getElementById("all").classList.remove("selected");
});

document.getElementById("hiver").addEventListener("click", function() {
   printempsSection.style.display = "none";
   automneSection.style.display = "none";
   hiverSection.style.display = "block";
   allSection.style.display = "none";
   document.getElementById("printemps").classList.remove("selected");
   document.getElementById("automne").classList.remove("selected");
   document.getElementById("hiver").classList.add("selected");
   document.getElementById("all").classList.remove("selected");
});

document.getElementById("all").addEventListener("click", function() {
   printempsSection.style.display = "none";
   automneSection.style.display = "none";
   hiverSection.style.display = "none";
   allSection.style.display = "block";
   document.getElementById("printemps").classList.remove("selected");
   document.getElementById("automne").classList.remove("selected");
   document.getElementById("hiver").classList.remove("selected");
   document.getElementById("all").classList.add("selected");
});

printempsSection.style.display = "block";
automneSection.style.display = "none";
hiverSection.style.display = "none";
allSection.style.display = "none";
document.getElementById("printemps").classList.add("selected");

</script>
{% include "footer.html" %}
