<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/valentin.css') }}">
    <title>Produits Saint-Valentin - L'Epi Fleuri</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>
{% include "header.html" %}
<body>
    <section id="valentine-banner">
        <h1><span class="hearts">&hearts;&hearts;</span> Collection <span class="colo">Saint-Valentin </span><span class="hearts">&hearts;&hearts;</span></h1>
        <p>Célébrez l'amour ce 14 février avec notre sélection pour la Saint-Valentin.</p>
    </section>

    <section id="valentine-products">
        {% for image in ['rose_rouge', 'rose_rouge1', 'rose_rouge2', 'rose_blanche', 'rose_blanche1', 'rose_jaune', 'tulipe_rose', 'rose_rouge_bocal'] %}
        <div class="product">
            <img src="{{ url_for('static', filename='images/st_valentin/' + image + '.jpeg') }}">
        </div>
        {% endfor %}
    </section>

    <p class="message">Un petit plus, toujours dans l'idée d'une fleur ?</p>

    <section id="valentine-products">    
        {% for image in ['coeur_en_rose', 'ours_blanc', 'ours_rose', 'ours_rouges', 'ourson_rose', 'ourson_rouge', 'stitch', 'rose_noir'] %}
        <div class="product">
            <img src="{{ url_for('static', filename='images/st_valentin/' + image + '.jpeg') }}">
        </div>
        {% endfor %}
    </section>

    <section id="delivery-section">
        <h2>Livraison dans votre secteur</h2>
        <p>Nous proposons également un service de livraison dans votre secteur. Si vous souhaitez faire livrer nos magnifiques produits de la collection Saint-Valentin à l'adresse de votre choix, veuillez nous contacter pour plus d'informations.</p>
        <p>La livraison est disponible dans les secteurs suivants :</p>
        <ul>
            <li>Ramillies</li>
            <li>Eghezée</li>
            <li>Perwez</li>
            <li>Orp</li>
            <li>Jodoigne</li>
            <!-- Ajoutez d'autres secteurs au besoin -->
        </ul>
        <p>N'hésitez pas à nous contacter si vous avez un doute concernant les secteurs de livraisons.</p>
        <p>Contactez-nous dès maintenant pour planifier une livraison spéciale pour votre être cher !</p>
        <p>Les livraisons sont à <span style="color: #d83271;">10€</span></p>
        <p>Envoyez-nous directement un message sur notre <a class="contact" href=https://www.facebook.com/lepifleuri>Page Facebook L'Epifleuri</a></p>
        <p>Contact par mail : <a class="contact" href="mailto:epifleurimagasin@outlook.com">epifleurimagasin@outlook.com</a></p>
        <p>Contact par téléphone : <a class="contact" href="tel:+3281879555">081 87 95 55</a></p>
    </section>


    {% include "footer.html" %}
</body>
</html>
